img{
    height: 200px;
    width: 250px;
    margin: auto 0;
    border-radius: 25%;
   
}

#not-found{
    left: 400px;
    padding-left: 835px;
    padding-top:200px;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {left: 0px;}
    to   {left: 300px;
    } 
}

#text{
    font-size: xx-large
}