img {
  height: 200px;
  width: 250px;
  margin: auto 0;
  border-radius: 25%;
}

#not-found {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: xx-large;
}
