.card-header {
  background-color: #7289da;
}

.card-body {
  background-color: rgb(32, 32, 32);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background-color: #7289da;
  align-items: center;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 6px 7px 0px rgba(70, 69, 69, 0.794);
  background-color: #23272a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
label.likeBox.btn.btn-primary {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin-left: 3px;
  background-image: url("../heartCutOut.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #7289da;
  border: none;
}
label.likeBox.btn.btn-primary:hover {
  background-color: rgb(99, 119, 192);
}

label.likeBox.btn.active.btn-primary {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin-left: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #7289da;
  border: none;
  background-image: url("../heartRed.png");
}

label.likeBox.btn.active.btn-primary:hover {
  background-color: rgb(99, 119, 192);
}
