.navbar {
  justify-content: flex-end;
}

.nav-link {
  color: white;
}

.justify-content-end {
  justify-content: flex-end;
}

.home-header {
  text-align: center;
}

#theDiv {
  display: flex;
}




