.navbar {
  justify-content: flex-end;
}

.nav-link {
  color: white;
}

.justify-content-end {
  justify-content: flex-end;
}

.navbar{
    background-color: #7289DA;
    display: flex;
    flex-direction: row-reverse;
   
}
.mr-auto .navbar-nav{
    display: flex;
    
    flex-direction: row-reverse;
    align-content: flex-end;
}

#theDiv {
  display: flex;
}




