#link-container{
    display:flex;
    justify-content: flex-end;
    width: 1860px;
}

.navbar{
    background-color: #7289DA;
    display: flex;
    flex-direction: row-reverse;
   
}
.mr-auto .navbar-nav{
    display: flex;
    
    flex-direction: row-reverse;
    align-content: flex-end;
}

