.InputMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: fit-content;
}

#newMessageInput {
  width: max-content;
}

textarea {
  resize: none;
  border-radius: 3%;
}
